*{
    padding: 0;
    margin: 0;
}

:root{
    --color-blue: #1051f7;
}
/* 
==================================
Nav Bar
==================================
*/
.a-nav{
    color: var(--color-blue) !important;
    transition: all 0.2s;
}

.a-nav-active{
    border-bottom: 4px solid var(--color-blue);
}

.a-nav:hover{
    border-bottom: 4px solid var(--color-blue);
}

.backgroundblue-nav{
    position: absolute;
    background-color: var(--color-blue);
    left: 0;
    right: 75.4%;
    top: 0;
    bottom: 0;
    height: 87px;
}

.navbar-brand{
    z-index: 1;
    font-size: 30px;
    margin-right:50px ;
}
.z-index-1{
    z-index: 1;
}
/* 
=============================
Header
=============================
*/
.img-header{
    z-index: -1;
    position: absolute;
    width: 100%;
}

.header{
margin-top: 16%;
}

.main-2{
    margin-top: 6%;
}

/* main3 */

.img-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-center-2{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}